<!doctype html>
<html>

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

	<!--<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>-->
</head>

<body>

	<div id="resume">
		<div id="basics">
			{{> basics}}
		</div>

		<div class="work">
			{{> work}}
		</div>

		<div class="volunteer">
			{{> volunteer}}
		</div>

		<div class="education">
			{{> education}}
		</div>

		<div class="awards">
			{{> awards}}
		</div>

		<div class="certificates">
			{{> certificates}}
		</div>

		<div class="publications">
			{{> publications}}
		</div>

		<div class="skills">
			{{> skills}}
		</div>

		<div class="languages">
			{{> languages}}
		</div>

		<div class="interests">
			{{> interests}}
		</div>

		<div class="references">
			{{> references}}
		</div>

		<div class="projects">
			{{projects}}
		</div>
	</div>
</body>
</html>