<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{basics.name}} - Resume</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>

<body>

    <!--{{#if basics}}
    {{> basics}}
    {{/if}}

    {{#if work}}
    {{> work}}
    {{/if}}

    {{#if education}}
    {{> education}}
    {{/if}}

    {{#if skills}}
    {{> skills}}
    {{/if}}

    {{#if languages}}
    {{> languages}}
    {{/if}}

    {{#if projects}}
    {{> projects}}
    {{/if}}

    {{#if references}}
    {{> references}}
    {{/if}}-->

</body>
</html>